<app-section-header [title]="screenData.scr_title" [subtitle]="screenData.scr_description">
</app-section-header>

<div class="px-6 pb-6">
    <app-cerca-table [columns]="tableColumns" [data]="history()" [loading]="loading()">
    </app-cerca-table>
</div>

<ng-template #dateTemplate let-item>
    {{ item.created_at | date:'medium' }}
</ng-template>

<ng-template #typeTemplate let-item>
    <app-cerca-status-badge [status]="getBadgeType(item.change_type)"
        [label]="item.change_type"></app-cerca-status-badge>
</ng-template>